/*mobile view*/ 
@media screen and (min-width: 420px) {
    .formContact {
        background-image:linear-gradient(to bottom,rgb(95, 95, 95), rgb(255, 255, 255)) ;
        padding-top: 0%;
        justify-content: center;
        }
        
        #contactSub {
            background-image:linear-gradient(to top,rgb(95, 95, 95), rgb(255, 255, 255)) ;
            height: 30px;
            text-align: center;
            padding-bottom: 0%;
            }
            form label{
                justify-content: center;
                display: flex;
            }
            form {
                justify-content: center;
            }
            .imputs {
                display: flex;
                justify-content: center;
            }
            .sendItem {
                background-color: rgb(255, 0, 0);
                border-radius: 10px;
                
                a:hover {
                    color: rgb(5, 4, 4);
                    text-decoration: none;
                }
            }
            .jus {
                text-align: center;
                justify-content: center;
            }
    }
