/*mobile view*/

@media screen and (max-width: 420px) {
    .colornav {
        background-image: linear-gradient(to bottom,rgb(107, 119, 135),rgb(46, 51, 59));
        a:hover {
            color: rgb(190, 10, 10);
            }
    }
    .itemyellow {
        background-image: linear-gradient(to top,rgb(39, 39, 39),#6B7787); 
        color: rgb(221, 202, 202);
    }
    .itemgreen {
        background-image: linear-gradient(to top,rgb(39, 39, 39),#6B7787); 
        color: rgb(221, 202, 202 );
    }
    .itemblack {
        background-image: linear-gradient(to top,rgb(39, 39, 39),#6B7787); 
        color: rgb(221, 202, 202);
    }
    .itemviolet {
        background-image: linear-gradient(to top,rgb(39, 39, 39),#6B7787); 
        color: rgb(221, 202, 202);
    }
    .itemwhite {
        background-image: linear-gradient(to top,rgb(39, 39, 39),#6B7787); 
        color: rgb(221, 202, 202);
    }
}


/*destktop view*/
@media screen and (min-width:1200px) {
    .colornav {
        background-image: linear-gradient(to bottom,rgb(107, 119, 135),rgb(46, 51, 59));
        a:hover {
            color: rgb(190, 10, 10);
            }
    }
    .itemyellow {
        background-image: linear-gradient(to top,rgb(39, 39, 39),rgb(107, 119, 135)); 
        color: rgb(221, 202, 202);
    }
    .itemgreen {
        background-image: linear-gradient(to top,rgb(39, 39, 39),rgb(107, 119, 135)); 
        color: rgb(221, 202, 202 );
    }
    .itemblack {
        background-image: linear-gradient(to top,rgb(39, 39, 39),rgb(107, 119, 135)); 
        color: rgb(221, 202, 202);
    }
    .itemviolet {
        background-image: linear-gradient(to top,rgb(39, 39, 39),rgb(107, 119, 135)); 
        color: rgb(221, 202, 202);
    }
    .itemwhite {
        background-image: linear-gradient(to top,rgb(39, 39, 39),rgb(107, 119, 135)); 
        color: rgb(221, 202, 202);
    }
}
