/* RESET */

/*diseno desktop*/


@media screen and (min-width: 600px)
{
    .grid {
        display: grid;
        grid-template-areas: 
        "header header header" 
        "article main main"
        "footer footer footer";
        grid-template-rows: 190px  1fr 1fr;
        grid-template-columns: 25% auto 15%;
        height: 100vh;
        
    }
    #fondo {
        background-image :url(https://static.vecteezy.com/system/resources/previews/002/984/646/non_2x/grilled-and-barbecue-ribs-pork-isolated-on-white-background-free-photo.jpg);
        background-size:auto
    }
    
    header {
        grid-area: header;
        background-color: red;
    }
    main {
        grid-area: main;
    }
    article {
        grid-area: article;
    }
    footer {
        grid-area: footer;
    }
    .navcolorred {
        display: flex;
        background-color: hsl(0, 100%, 50%);
        margin-block-end: auto;
        border-radius: 0%;
        margin: 0%;
        padding: 0%;
       font-style:italic;
       font-size: 200% ;
       font-variant: small-caps;
       text-decoration:solid;
    }
    main nav li {
        display: flex;
        display: inline-block;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .itemcoloryellow {
        background-color: rgb(255, 238, 0);
        border-radius: 10%;
        margin: 0%;
        padding: 2%;
        font-size: xx-large;
        text-decoration: solid;
    }
    .itemcolorgreen {
        background-color: rgb(0, 255, 13);
        border-radius: 10%;
        margin: 0%;
        padding: 2%;
        font-size: xx-large;
        text-decoration: solid;
    }
    .itemcolorblack {
        background-color: rgb(0, 0, 0);
        border-radius: 10%;
        margin: 0%;
        padding: 2%;
        font-size: xx-large;
        text-decoration: solid;
    }
    .itemcolorviolet {
        background-color: rgb(195, 0, 255);
        border-radius: 10%;
        margin: 0%;
        padding: 2%;
        font-size: xx-large;
        text-decoration: solid;
    }
    .subtittle {
        text-align: center;
        text-decoration: solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-large;
        font-style: italic;
    }
    .history {
        text-align: center;
        text-decoration: solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:large;
        font-style: italic;
    }
    .footerClass {
        background-color: rgb(101, 102, 102);
        text-decoration:none;
        margin: 0%;
        padding: 2%;
        border-radius: 0%;
        list-style-type: none;
    }
    .itemyellow {
        background-color: rgb(255, 238, 0);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        list-style-type: none;
    }
    .itemgreen {
        background-color: rgb(0, 255, 13);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        list-style-type: none;
    }
    .itemblack {
        background-color: rgb(0, 0, 0);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        list-style-type: none;
    }
    .itemviolet {
        background-color: rgb(195, 0, 255);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        list-style-type: none;
    }
    #extTittle {
        text-align: center;
        background-color: #ff69b4;
        margin-inline-start: auto;
    }
    .ext1 {
        background-color: hsl(36, 100%, 50%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext2 {
        background-color: hsl(14, 100%, 50%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext3 {
        background-color: hsl(14, 58%, 36%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext4 {
        background-color: hsl(64, 63%, 59%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext5 {
        background-color: hsl(14, 100%, 76%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext6 {
        background-color: hsl(182, 100%, 50%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext7 {
        background-color: hsl(290, 92%, 51%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
    .ext8 {
        background-color: hsl(51, 24%, 50%);
        margin: 1%;
        padding: 1%;
        border-radius: 25%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: solid;
        display: inline;
    }
}
