/*partials*/ /*mobile view*/
@media screen and (max-width: 420px) {
  .tittle {
    background-image: linear-gradient(to bottom, rgb(221, 17, 17), rgb(231, 10, 10));
    color: rgb(255, 255, 255);
    padding: 2%;
    margin: 0%;
  }
  .colornav .colornav {
    background-image: linear-gradient(to bottom, rgb(39, 39, 39), rgb(87, 96, 110));
  }
}
/*destktop view*/
.tittle {
  background-image: linear-gradient(to bottom, rgb(39, 39, 39), rgb(87, 96, 110));
  padding: 2%;
  margin: 0%;
  font-family: monospace;
  font-variant: small-caps;
  font-size: larger;
  display: flex;
  justify-content: center;
  text-align: center;
}
.tittle h1 {
  color: rgb(255, 255, 255);
}
.tittle a:hover {
  color: rgb(255, 17, 0);
}

#tittle {
  background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(87, 96, 110));
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: monospace;
  font-variant: small-caps;
  font-size: larger;
  display: flex;
  justify-content: center;
  text-align: center;
}
#tittle h1 {
  color: rgb(255, 255, 255);
}
#tittle a:hover {
  color: rgb(255, 17, 0);
}

/*general view*/
@media screen and (min-width: 320px) {
  .fondo {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/984/646/non_2x/grilled-and-barbecue-ribs-pork-isolated-on-white-background-free-photo.jpg);
    background-repeat: no-repeat;
  }
  .colorFoo {
    background-image: linear-gradient(to top, rgb(95, 95, 95), rgb(255, 255, 255));
  }
  .imgFo {
    display: inline-block;
    margin: 3%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #extTittle {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(95, 95, 95));
    margin-block: 0%;
  }
  .footerClass {
    padding: 2%;
  }
  .textCenter {
    text-align: center;
  }
}
/*mobile view*/
@media screen and (max-width: 420px) {
  .colornav {
    background-image: linear-gradient(to bottom, rgb(107, 119, 135), rgb(46, 51, 59));
  }
  .colornav a:hover {
    color: rgb(190, 10, 10);
  }
  .itemyellow {
    background-image: linear-gradient(to top, rgb(39, 39, 39), #6B7787);
    color: rgb(221, 202, 202);
  }
  .itemgreen {
    background-image: linear-gradient(to top, rgb(39, 39, 39), #6B7787);
    color: rgb(221, 202, 202);
  }
  .itemblack {
    background-image: linear-gradient(to top, rgb(39, 39, 39), #6B7787);
    color: rgb(221, 202, 202);
  }
  .itemviolet {
    background-image: linear-gradient(to top, rgb(39, 39, 39), #6B7787);
    color: rgb(221, 202, 202);
  }
  .itemwhite {
    background-image: linear-gradient(to top, rgb(39, 39, 39), #6B7787);
    color: rgb(221, 202, 202);
  }
}
/*destktop view*/
@media screen and (min-width: 1200px) {
  .colornav {
    background-image: linear-gradient(to bottom, rgb(107, 119, 135), rgb(46, 51, 59));
  }
  .colornav a:hover {
    color: rgb(190, 10, 10);
  }
  .itemyellow {
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(107, 119, 135));
    color: rgb(221, 202, 202);
  }
  .itemgreen {
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(107, 119, 135));
    color: rgb(221, 202, 202);
  }
  .itemblack {
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(107, 119, 135));
    color: rgb(221, 202, 202);
  }
  .itemviolet {
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(107, 119, 135));
    color: rgb(221, 202, 202);
  }
  .itemwhite {
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(107, 119, 135));
    color: rgb(221, 202, 202);
  }
}
/*mobile view*/
@media screen and (max-width: 420px) {
  .suc {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .video {
    display: none;
  }
  .itemsIndex {
    display: flex;
    justify-content: center;
  }
}
.tableProd {
  padding: 20px;
  margin: 0px;
}

.itemtHead {
  background-color: rgb(255, 151, 53);
}

.itemt {
  background-color: rgb(209, 255, 204);
}

.itemtYes {
  background-color: rgb(0, 189, 0);
}

.itemtNo {
  background-color: rgb(255, 82, 82);
}

.imgProd {
  display: inline-block;
  display: flex;
}

.videoStory {
  justify-content: center;
  width: 365px;
}

/*destktop view*/
@media screen and (min-width: 1200px) {
  a:hover {
    color: rgb(219, 204, 204);
  }
  #fondo {
    background-image: none;
  }
  .lead form {
    margin: 0%;
    padding: 0%;
    width: 0%;
    height: 0%;
  }
  .suc {
    background-color: rgb(34, 31, 31);
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .tableProd {
    padding: 20px;
    margin: 0px;
  }
  .button {
    background-color: rgb(248, 0, 0);
  }
  .videoStory {
    justify-content: center;
    display: flex;
  }
  .itemsIndex {
    display: flex;
    justify-content: center;
  }
}
/*general view*/
@media screen and (min-width: 1200px) {
  .carousel {
    display: flex;
    justify-content: center;
  }
}
/*mobile view*/
@media screen and (max-width: 420px) {
  main {
    margin-top: 10%;
    margin-bottom: 3%;
  }
  main a li {
    display: flex;
    justify-content: center;
    background-color: rgb(54, 53, 51);
  }
  section .imgFo {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
  }
  .footerClass {
    display: flex;
    flex-direction: column;
  }
  .ext1 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext2 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext3 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext4 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext5 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext6 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext7 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext8 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .colortextFo {
    color: rgb(252, 252, 252);
  }
  .watermark {
    color: rgba(54, 54, 54, 0.726);
  }
}
/*desktop view*/
@media screen and (min-width: 1200px) {
  .footerClass {
    padding: 2%;
  }
  .colortextFo {
    color: rgb(252, 252, 252);
  }
  .ext1 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext2 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext3 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext4 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext5 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext6 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext7 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .ext8 {
    background-color: rgb(54, 53, 51);
    color: rgb(245, 255, 255);
    margin: 1%;
    padding: 1%;
    border-radius: 25%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    display: inline;
  }
  .watermark {
    color: rgba(54, 54, 54, 0.726);
  }
}
/*mobile view*/
@media screen and (min-width: 320px) {
  #formContact {
    margin-top: 0%;
  }
  .formContact {
    background-image: linear-gradient(to bottom, rgb(95, 95, 95), rgb(255, 255, 255));
    padding-top: 0%;
    display: block;
    justify-content: center;
  }
  #contactSub {
    background-image: linear-gradient(to top, rgb(95, 95, 95), rgb(255, 255, 255));
    height: 30px;
    text-align: center;
    padding-bottom: 0%;
  }
  form label {
    justify-content: center;
    display: flex;
  }
  form {
    justify-content: center;
  }
  .imputs {
    display: flex;
    justify-content: center;
  }
  .sendItem {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
  }
  .sendItem a:hover {
    color: rgb(5, 4, 4);
    text-decoration: none;
  }
  .jus {
    text-align: center;
    justify-content: center;
  }
}
/*desktop view*/
@media screen and (min-width: 1200px) {
  .tittle {
    color: rgb(247, 247, 247);
  }
  #formContact {
    display: flex;
    justify-content: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/984/646/non_2x/grilled-and-barbecue-ribs-pork-isolated-on-white-background-free-photo.jpg);
    border-radius: 600px;
  }
  .formContact {
    margin-right: auto;
  }
}/*# sourceMappingURL=styles.css.map */